{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
<section>

    <h1>A propos de moi</h1>

    <p>Ma chérie : Psycho/sociopathe illuminé , geek invétéré fou du codage de l'univers de ONE PEACE euh PIECE et de BD que dire de plus sur Jérome . Tous les matin debout 5h30 au starting block  GO : lecture , dessin , 1 non 2 café et c 'est partis codage … il enchaine vélo entrainement street work out A l'heure du repas c'est Végé !! et oui ce drôle de spécimen est un «  mangeur de graines ». <br>
        Pour l'apocalypse et l'arche de Noé bon on fait sauter Adam et Eve pour lui la planète n'en a pas besoin ;). Je blague bien sûr … faut sélectionner c'est tout Sur ce je vous laisse le découvrir ...</p>

</section>
{% endblock %}
