<form method="post" action="{{ path('lupages_delete', {'id': l_u_page.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ l_u_page.id) }}">
    <button class="btr">Effacer</button>
</form>
