{% extends 'base.html.twig' %}

{% block title %}Modifier une fiche personnage{% endblock %}

{% block body %}
    <h1>Modifier ficher personnage</h1>
    <div class="form-section">

        
        {{ include('admin/characters/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        
        <a class="btg" href="{{ path('admin_characters_index') }}">Retour à la liste</a>
        
        {{ include('admin/characters/_delete_form.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/images.js')}}"></script>
{% endblock %}
