<form method="post" action="{{ path('portfolio_delete', {'id': portfolio.id}) }}" onsubmit="return confirm('Veux tu effacer l\'image ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ portfolio.id) }}">
    <button class="btr">Effacer</button>
</form>
