{% extends 'base.html.twig' %}

{% block title %}New Monsters{% endblock %}

{% block body %}
    <h1>Create new Monsters</h1>

    {{ include('admin/monsters/_form.html.twig') }}

    <a href="{{ path('admin_monsters_index') }}">back to list</a>
{% endblock %}
