<form method="post" action="{{ path('lmpages_delete', {'id': l_m_page.id}) }}" onsubmit="return confirm('Veux tu effacer cette page ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ l_m_page.id) }}">
    <button class="btr">Effacer</button>
</form>
