%button {
    border: none;
    color: white;
    padding: 5px 11px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.btb {
    @extend %button;
    background-color: $BTB;
}
.btb:hover {
    @extend %button;
    background-color: $BTBH;
}
.btg {
    @extend %button;
    background-color: $BTG;
}
.btg:hover {
    @extend %button;
    background-color: $BTGH;
}
.btr {
    @extend %button;
    background-color: $BTR;
}
.btr:hover {
    @extend %button;
    background-color: $BTRH;
}
.btp {
    @extend %button;
    background-color: $BTP;
}
.btp:hover {
    @extend %button;
    background-color: $BTPH;
}
.btn {
    @extend %button;
    background-color: $BTN;
}
.btn:hover {
    @extend %button;
    background-color: $BTNH;
}

@media (max-width: 800px) {
    %button {
        border: none;
        color: white;
        padding: 5px 4px;
        margin: 5px;
        font-size: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }
}