// couleurs

$red1: #A82019;
$redop: #a8201955;
$red2: #78220C;
$purples1: #820D36;
$purples2: #800D70;
$grey1: #0e131f;
$grey2: #474747;
$greyop: #47474775;
$yellow1: #e5f61b;
$yellow2: #fcba04;

// couleurs

// ButtonColor

$BTB: #3b82f6;
$BTBH: #1e40af;
$BTG: #22c55e;
$BTGH: #166534;
$BTR: #ef4444;
$BTRH: #991b1b;
$BTP: #a855f7;
$BTPH: #6b21a8;
$BTN: #737373;
$BTNH: #262626;

// ButtonColor

// button


// button

// border



// border

textarea {
    resize: none;
}

// Textes

$txt-bg-light: #000000;
$txt-bg-dark: #ffffff;

// Textes

